Repository antebrl/travel-link: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-image, build-apk, code-quality, riverpod

docker-image:
  stage: docker-image
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo update container image ${CI_REGISTRY_IMAGE}/project_builder:latest
  ...

build-apk:
  stage: build
  image:
    name: ${CI_REGISTRY_IMAGE}/project_builder:latest
  before_script:
  - cd app
  - flutter clean
  - flutter doctor
  - flutter upgrade --force
  - flutter pub get
  script:
  - flutter build apk --release
  artifacts:
    paths:
    - app/build/app/outputs/flutter-apk/app-release.apk

code-quality:
  stage: test
  image:
    name: ${CI_REGISTRY_IMAGE}/project_builder:latest
  before_script:
  - cd app
  - export PATH="$PATH":"$HOME/.pub-cache/bin"
  script:
  - flutter pub get
  - flutter analyze
  - dart pub global activate flutter_analyze_reporter
  ...

riverpod:
  stage: test
  image:
    name: ${CI_REGISTRY_IMAGE}/project_builder:latest
  before_script:
  - cd app
  script:
  - flutter pub get
  - dart run custom_lint
  allow_failure: true

docs: update readme
  .gitignore
  README.md
Due: none

refactor: update libs
  app/pubspec.lock
  app/pubspec.yaml
Due: build-apk, code-quality, riverpod

update: to latest flutter version
  Dockerfile
Due: docker-image

fix: use latest stable version for flutter, configure web and android explicitely
  Dockerfile
Due: docker-image

tune dockerfile
  Dockerfile
Due: docker-image

fix: minSdkVersion in Android
  app/android/app/build.gradle
  app/pubspec.lock
Due: build-apk, code-quality, riverpod

fix: badge in readme
  README.md
Due: none

fix demo app
  learning/demo-app/android/app/build.gradle
  learning/demo-app/android/app/src/main/AndroidManifest.xml
  learning/demo-app/ios/Flutter/AppFrameworkInfo.plist
  learning/demo-app/ios/Runner.xcodeproj/project.pbxproj
  learning/demo-app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  learning/demo-app/linux/CMakeLists.txt
  learning/demo-app/linux/my_application.cc
  learning/demo-app/macos/Runner.xcodeproj/project.pbxproj
  learning/demo-app/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  learning/demo-app/macos/Runner/Configs/AppInfo.xcconfig
  learning/demo-app/macos/Runner/Info.plist
  learning/demo-app/macos/Runner/Release.entitlements
  learning/demo-app/pubspec.yaml
  learning/demo-app/web/index.html
  learning/demo-app/windows/CMakeLists.txt
  learning/demo-app/windows/flutter/CMakeLists.txt
  learning/demo-app/windows/runner/Runner.rc
  learning/demo-app/windows/runner/flutter_window.cpp
Due: none

fix demo app
  learning/demo-app/linux/CMakeLists.txt
  learning/demo-app/linux/my_application.cc
Due: none

user container of public project
  .gitlab-ci.yml
Due: none

update readme with new docker image name
  README.md
Due: none

remove mr template
  .gitlab/merge_request_templates/Default.md
Due: none

fix mac os
  learning/demo-app/ios/Flutter/Debug.xcconfig
  learning/demo-app/ios/Flutter/Release.xcconfig
  learning/demo-app/macos/Flutter/Flutter-Debug.xcconfig
  learning/demo-app/macos/Flutter/Flutter-Release.xcconfig
  learning/demo-app/macos/Runner.xcodeproj/project.pbxproj
  learning/demo-app/macos/Runner.xcworkspace/contents.xcworkspacedata
  learning/demo-app/pubspec.lock
Due: none

refactor: remove subfolder labs
  docs/2-UserResearch.md
  docs/3-Design.md
  docs/4-Implementation.md
  docs/6-UsabilityEvaluation.md
  docs/labs/3-Implementation.md
Due: none

fix: urls
  README.md
  mkdocs.yml
Due: none

fix: build status
  README.md
Due: none

User Research preparation added to UserResearch.md
  docs/2-UserResearch.md
Due: none

fix: disable test suite in pipeline
  .gitlab-ci.yml
Due: none

fix: pipeline errors
  .gitlab-ci.yml
Due: none

fix: set sdkVersion to 21 (#2) - with this commit the necessary firebase configuration for android will also be integrated
  app/android/app/build.gradle
  app/android/app/google-services.json
  app/android/settings.gradle
Due: build-apk, code-quality, riverpod

refactor: adjust package-name and namespace (#3)
  app/android/app/src/main/AndroidManifest.xml
  app/android/app/src/main/kotlin/com/example/hello_world/MainActivity.kt
  app/android/app/src/main/kotlin/de/h_da/app/MainActivity.kt
  app/android/app/src/main/kotlin/de/h_da/ri_go_demo/MainActivity.kt
  app/ios/Runner.xcodeproj/project.pbxproj
  app/ios/Runner/Info.plist
  app/lib/src/features/authentication/presentation/custom_profile_screen.dart
  app/linux/CMakeLists.txt
  app/linux/my_application.cc
  app/macos/Runner.xcodeproj/project.pbxproj
  app/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  app/macos/Runner/Configs/AppInfo.xcconfig
  app/web/index.html
  app/web/manifest.json
  app/windows/CMakeLists.txt
  app/windows/runner/Runner.rc
  app/windows/runner/main.cpp
  learning/demo-app/android/app/build.gradle
  learning/demo-app/android/app/src/main/kotlin/com/example/ri_go_demo/MainActivity.kt
  learning/demo-app/ios/Runner.xcodeproj/project.pbxproj
  learning/demo-app/linux/CMakeLists.txt
  learning/demo-app/macos/Runner.xcodeproj/project.pbxproj
  learning/demo-app/macos/Runner/Configs/AppInfo.xcconfig
  learning/demo-app/windows/runner/Runner.rc
Due: build-apk, code-quality, riverpod

refactor: adjust namespace (#3)
  app/android/app/build.gradle
Due: build-apk, code-quality, riverpod

fix: package name in android build (#3)
  app/android/app/build.gradle
Due: build-apk, code-quality, riverpod

fix: namespace and docs urls - Closes #3
  README.md
  app/analysis_options.yaml
  app/android/app/build.gradle
  app/android/app/google-services.json
  app/android/app/src/main/kotlin/de/h_da/fbi/hci/app/MainActivity.kt
  app/android/app/src/main/kotlin/de/h_da/fbi/hci/ri_go_demo/MainActivity.kt
  app/ios/Runner.xcodeproj/project.pbxproj
  app/lib/main.dart
  app/lib/src/features/explore_trips/presentation/trips_screen.dart
  app/lib/src/features/my_trips/presentation/my_trip_tile.dart
  app/lib/src/features/trip_overview/presentation/planning/trip_planning_screen.dart
  app/lib/src/features/trip_overview/presentation/trip_overview_screen.dart
  app/lib/src/routing/scaffold_with_navigation.dart
  app/linux/CMakeLists.txt
  app/macos/Runner.xcodeproj/project.pbxproj
  app/macos/Runner/Configs/AppInfo.xcconfig
  app/pubspec.lock
  app/pubspec.yaml
  app/windows/runner/Runner.rc
  learning/demo-app/android/app/build.gradle
  learning/demo-app/android/app/src/main/kotlin/com/example/app/MainActivity.kt
  learning/demo-app/android/app/src/main/kotlin/com/example/ri_go_demo/MainActivity.kt
  learning/demo-app/ios/Runner.xcodeproj/project.pbxproj
  learning/demo-app/linux/CMakeLists.txt
  learning/demo-app/macos/Runner.xcodeproj/project.pbxproj
  learning/demo-app/macos/Runner/Configs/AppInfo.xcconfig
  learning/demo-app/windows/runner/Runner.rc
Due: build-apk, code-quality, riverpod

fix: app url
  docs/index.md
Due: none

docs: add requirements
  learning/braehler/lab2/README.md
Due: none

Resolve "Feat: Adding Trips Screen"
  app/lib/src/common_widgets/calendar_popup_view.dart
  app/lib/src/common_widgets/custom_calendar.dart
  app/lib/src/features/explore_trips/domain/trip.dart
  app/lib/src/features/my_trips/data/my_trips_repository.dart
  app/lib/src/features/my_trips/presentation/create_trip_screen.dart
  app/lib/src/features/my_trips/presentation/my_trips_controller.dart
  app/lib/src/features/my_trips/presentation/my_trips_controller.g.dart
  app/lib/src/features/my_trips/presentation/my_trips_screen.dart
  app/lib/src/features/trip_overview/presentation/trip_overview_screen.dart
  app/lib/src/utils/theme/widget_themes/bottomSheet_theme.dart
Due: build-apk, code-quality, riverpod

fix: Optimize .gitignore and remove unneccessary files
  .gitignore
  app/linux/flutter/generated_plugin_registrant.cc
  app/linux/flutter/generated_plugin_registrant.h
  app/linux/flutter/generated_plugins.cmake
  app/macos/Flutter/GeneratedPluginRegistrant.swift
  app/windows/flutter/generated_plugin_registrant.cc
  app/windows/flutter/generated_plugin_registrant.h
  app/windows/flutter/generated_plugins.cmake
  learning/braehler/lab2/linux/flutter/generated_plugin_registrant.cc
  learning/braehler/lab2/linux/flutter/generated_plugin_registrant.h
  learning/braehler/lab2/linux/flutter/generated_plugins.cmake
  learning/braehler/lab2/macos/Flutter/GeneratedPluginRegistrant.swift
  learning/braehler/lab2/windows/flutter/generated_plugin_registrant.cc
  learning/braehler/lab2/windows/flutter/generated_plugin_registrant.h
  learning/braehler/lab2/windows/flutter/generated_plugins.cmake
  learning/demo-app/linux/flutter/generated_plugin_registrant.cc
  learning/demo-app/linux/flutter/generated_plugin_registrant.h
  learning/demo-app/linux/flutter/generated_plugins.cmake
  learning/demo-app/macos/Flutter/GeneratedPluginRegistrant.swift
  learning/demo-app/untranslated_messages.json
  learning/demo-app/windows/flutter/generated_plugin_registrant.cc
  learning/demo-app/windows/flutter/generated_plugin_registrant.h
  learning/demo-app/windows/flutter/generated_plugins.cmake
Due: build-apk, code-quality, riverpod

fix: lower sdk version of lab2 learning project
  learning/braehler/lab2/pubspec.lock
  learning/braehler/lab2/pubspec.yaml
Due: none

Resolve "Global AppBar style"
  app/lib/src/features/account/presentation/account_screen.dart
  app/lib/src/features/activities/1_activities_start_screen/presentation/activitiesStart_screen.dart
  app/lib/src/features/explore_trips/presentation/trips_screen.dart
  app/lib/src/features/my_trips/presentation/my_trips_screen.dart
  app/lib/src/utils/theme/widget_themes/appBar_theme.dart
Due: build-apk, code-quality, riverpod

Workaround ?
  learning/bernhardt_aubron/start_app/images/hive_city.jpg
  learning/bernhardt_aubron/start_app/lib/main_page.dart
  learning/bernhardt_aubron/start_app/lib/second_page.dart
Due: none

Added user interactions
  learning/bernhardt_aubron/start_app/lib/second_page.dart
Due: none

docs: update project documentation
  docs/index.md
Due: none

docs: improve problem description and app idea section
  docs/index.md
Due: none

Path conditions:
  docker-image: any of: Dockerfile
  build-apk: any of: app/**/*
  code-quality: any of: app/**/*
  riverpod: any of: app/**/*
